

  @media print {
    .print {display: table; font-size: 8px;}
    .no-print{display: none;}
    .header-space{
        height: 150px;
    }
    .footer, .footer-space {
        height: 100px;
    }
    .header{
        position: fixed;
        top:0;
        width: 100%;
        
    }
    .content {
        page-break-after: always;
        /* margin-top: 100px; */
      }
    .footer{
        position: fixed;
        bottom:0;
        width: 100%;
    }

    @page { counter-increment: page; size: auto;  margin: 12mm 12mm 12mm 25mm; color:#000 !important; } 
    @page { @bottom-right { content: counter(page) " of " counter(pages); } }

    
 }

 .table-stripped tr:nth-child(odd){
    background-color: rgb(248, 247, 247);
 }

 .table-stripped tr:nth-child(even){
    background-color: rgb(219, 217, 217);
 }