<div class="MuiGrid-container MuiGrid-spacing-xs-1">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Aeromodeling.png" alt="img" />
    <p>Aerosport - Aeromodeling</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Aeromodeling.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Paralayang.png" alt="img" />
    <p>Aerosport - Paralayang</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Paralayang.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-TerbangLayang.png" alt="img" />
    <p>Aerosport - Terbang Layang</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Terbang%20Layang.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-TerjunPayung.png" alt="img" />
    <p>Aerosport - Terjun Payung</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Terjun%20Payung.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Gantole.png" alt="img" />
    <p>Aerosport-Gantole</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Gantole.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-LoncatIndah.png" alt="img" />
    <p>Akuatik - Loncat Indah</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Loncat%20Indah.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-PoloAir.png" alt="img" />
    <p>Akuatik - Polo Air</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Polo%20Air.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Renang.png" alt="img" />
    <p>Akuatik - Renang</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Renang.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-RenangArtistik.png" alt="img" />
    <p>Akuatik - Renang Artistik</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Renang%20Artistik.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-RenangPerairanTerbuka.png" alt="img" />
    <p>Akuatik - Renang Perairan Terbuka</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20RPT.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Anggar.png" alt="img" />
    <p>Anggar</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="#" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-AngkatBerat.png" alt="img" />
    <p>Angkat Berat</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Angkat%20Berat.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-AngkatBesi.png" alt="img" />
    <p>Angkat Besi</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Angkat%20Besi.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Atletik.png" alt="img" />
    <p>Atletik</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Atletik.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Baseball.png" alt="img" />
    <p>Baseball</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Baseball.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-MotorCross.png" alt="img" />
    <p>Bermotor</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmerauke/THB%20Final%20Bermotor.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Biliar.png" alt="img" />
    <p>Biliar</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Biliar.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Binaraga.png" alt="img" />
    <p>Binaraga</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Binaraga.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-BolaBasket3x3.png" alt="img" />
    <p>Bola Basket 3 x 3</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20BASKET%203X3.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-BolaBasket5x5.png" alt="img" />
    <p>Bola Basket 5 x 5</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Basket%205x5.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-BolaTangan.png" alt="img" />
    <p>Bola Tangan</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Bola%20Tangan.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-BolaVoliIndoor.png" alt="img" />
    <p>Bola Voli Indoor</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Voli%20Indoor.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-BolaVoliPasir.png" alt="img" />
    <p>Bola Voli Pasir</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Voli%20Pasir.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-BuluTangkis.png" alt="img" />
    <p>Bulutangkis</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Bulutangkis.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Catur.png" alt="img" />
    <p>Catur</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmerauke/THB%20Final%20Catur.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Cricket.png" alt="img" />
    <p>Cricket</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20CRICKET.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Canoeing.png" alt="img" />
    <p>Dayung - Canoeing</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Canoeing.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Rawing.png" alt="img" />
    <p>Dayung - Rowing</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Rowing.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-TBR.png" alt="img" />
    <p>Dayung - Traditional Boat Race</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20TBR.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Futsal.png" alt="img" />
    <p>Futsal</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Futsal.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Gulat.png" alt="img" />
    <p>Gulat</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmerauke/THB%20Final%20Gulat.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-HokiLapangan.png" alt="img" />
    <p>Hoki Lapangan</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="#" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-HokiRuangan.png" alt="img" />
    <p>Hoki Ruangan</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="#" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Judo.png" alt="img" />
    <p>Judo</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Judo.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Karate.png" alt="img" />
    <p>Karate</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Karate.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Kempo.png" alt="img" />
    <p>Kempo</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Kempo.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Layar.png" alt="img" />
    <p>Layar</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Layar.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Menembak.png" alt="img" />
    <p>Menembak</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Menembak.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-MuayThai.png" alt="img" />
    <p>Muaythai</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="#" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Panahan.png" alt="img" />
    <p>Panahan</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Panahan.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-PanjatTebing.png" alt="img" />
    <p>Panjat Tebing</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Panjat%20Tebing.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-PencakSilat.png" alt="img" />
    <p>Pencak Silat</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Pencak%20Silat.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-RugbySevens.png" alt="img" />
    <p>Rugby 7S</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Rugby7%27s.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-SelamLaut.png" alt="img" />
    <p>Selam</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Selam.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-SenamArtistik.png" alt="img" />
    <p>Senam - Artistik</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Senam.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-SenamRitmik.png" alt="img" />
    <p>Senam - Ritmik</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Senam.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-SenamAerobik.png" alt="img" />
    <p>Senam - Sport Aerobic</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Senam.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-SepakBola.png" alt="img" />
    <p>Sepak Bola</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Sepak%20Bola.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-SepakTakraw.png" alt="img" />
    <p>Sepak Takraw</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Sepak%20Takraw.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-SepatuRoda.png" alt="img" />
    <p>Sepatu Roda</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Sepatu%20Roda.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Softball.png" alt="img" />
    <p>Softball</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenjayapura/THB%20Final%20Softball.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Taekwondo.png" alt="img" />
    <p>Tae Kwon Do</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Taekwondo.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-TarungDerajat.png" alt="img" />
    <p>Tarung Derajat</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmimika/THB%20Final%20Tarung%20Derajat.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Tenis.png" alt="img" />
    <p>Tenis</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Tenis.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Tinju.png" alt="img" />
    <p>Tinju</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kotajayapura/THB%20Final%20Tinju.pdf" download target="_blank">Unduh</a></center></div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-4 MuiGrid-grid-sm-2" style="background-color: azure; border: black 1px solid;"><center><img class="jss4" style="height: 100px;" src="https://apigames.ponxx2020papua.com/repo/sport/icon-Wushu .png" alt="img" />
    <p>Wushu</p>
    <a style="margin-top: 5px; margin-bottom: 5px; line-height: 3px; background-color: brown; color: white; padding: 10px; font-size: medium;" href="https://thbpon2021.oss-ap-southeast-5.aliyuncs.com/kabupatenmerauke/THB%20Final%20Wushu.pdf" download target="_blank">Unduh</a></center></div>
    </div>